.contact{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 80px 130px 130px 130px 130px 130px ;

}

.adresse, .email, .numero, .linkedin, .github{
    border-bottom: 4px solid var(--separator);
}

.block-title, .adresse, .email, .numero, .linkedin, .github{
    grid-column: 1;
    
}

.adresse, .email, .numero, .linkedin, .github{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .block-title{
    grid-row: 1;
}

.block-title{
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--gris-clair);
}

.adresse{
    grid-row: 2;
}

.email{
    grid-row: 3;
}

.numero{
    grid-row: 4;
}

.linkedin{
    grid-row: 5;
}

.github{
    grid-row: 6;
}


.interet{
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 80px 50px 50px 50px ;
}

.one, .two, .three{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}


.image, .title{
    height: min-content;
}

.title{
    text-decoration: underline;
}

.text{
    height: max-content;
}