:root{
    --blue: rgb(0, 176, 240);
    --separator: rgb(217, 217, 217);
    --gris-clair: rgb(94, 99, 106);
    --gris-clair-2: rgb(177, 177, 177);
    --title: rgb(168, 198, 208);
    --stage: rgb(158, 146, 115);
    --description: rgb(182, 206, 223);
    
}